html, body{
    margin: 0px;
    background-color: #2F4F30;
    color: #fff;
}

.title{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.card{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#player-cards, #computer-cards, .div-cards{
    display: flex;
    height: 240px;
}